/* settings.css */
.container3{
    width: 70%;
    background-color: rgb(195,198,201);
    margin-left: 250px;
}
h1{
    margin-top: -40px;
    margin-left: 100px;
    color: white;
}

ul li img{
    width: 40px;
    height: 20px;
    border-width: 100px;
    margin-right: 150px;
    
}
.columnsettings img{
    width: 40px;
}
.row3{
    padding: 20px;
}
li{
    list-style: none;
    padding: 30px;
    box-shadow: none;
    text-align: center;
    
}
/* .columnsettings{
    background-color: blue;
} */
span{
    text-align: center;
}
.set{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* display: inline-block;
    vertical-align: middle; */
}
.set img{
    margin-bottom: 5px;
}