/* contact css */

.contact{
    background-color: #0044ff;
    text-align: center;
    padding: 30px;
    color: white;

}
.container{
    height: 100vh;
}
.card{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
.cards{
    background-color: rgb(194, 184, 184);
    padding: 120px;
    width:50px ;
    height:0px;
    

}
h2{
    margin-top: -50px;
}
.flex-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}