/* Login page */
*{
    background-color: rgb(245, 247, 248);
    font-family: Arial, Helvetica, sans-serif;
}
.column1{
    float: left;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
}
.logo{
height: 100px;
margin-top: 20px;
text-align: center;
}
.column1 h1{
    float: right;
    margin-right: 500px;
    margin-top: 50px;
}
h2{
    text-align: center;
    margin-top: 100px;
}
.loginpage{
    margin-top: 100px;
    text-align: center;
}

span .psw {
    display: block;
    float: none;
 }

.column2 .animation{
    float: right;
    width: 50%;
    height: 100vh; 
}
.login{
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
    padding: 10px;
    height: 30px;
    justify-content: space-between;
    
}

.loginpage button{
    text-align: center;
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px 100px 30px  ;
    background-color: rgb(68, 68, 186);
    color: white;
    margin-left: 35%;
    font-size: 20px;
    font-weight: bolder;
    background-image: linear-gradient(to right, #005C97 0%, #363795  51%, #005C97  100%);
    text-transform: uppercase;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
}
.loginpage button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.topimg{
    width: 49.1vw;
    height: 50vh;
    position:absolute;
    margin-top: 220px;
    }

    input{
        width: 50%;
        border: 1px solid black;
        border-radius: 20px;
    }
    textarea{
        width: 10%;
        border: 1px solid black;
    }

      

      span.psw {
        float: right;
        padding-top: 16px;
      }


    /* Media Queries */
@media (max-width: 768px) {
    .column1 {
      padding: 15px;
    }
  
    .loginpage {
      font-size: 30px;
    }
  
    
  }
  
  @media (max-width: 480px) {
    .column2 {
      padding: 10px;
    }
  
    .animation .topimg {
      font-size: 24px;
    }
}