*{
    background-color: #0d111a;
    margin:  0;
}

.container {
    display: flex;
    height: 100vh;
}

.section {
    flex: 1;
    padding: 20px;
}

.vertical-line {
    width: 2px;
    background-color: black;
    margin: 0 10px;
}
h2{
    margin-top: 130px;
    color: white;
    text-decoration: underline;
    font-size: 30px;
}
h1{
    color: white;
    float: right;
    margin-top: 50px;   
}
li{
    list-style: none;
    padding: 20px;
    color: white;
    font-size: 30px;
}
.buttons{
    padding: 50px;
  
}
.type{
    background-color: white;
    cursor: pointer;
}
.dropdown-btn{
    cursor: pointer;
}

#saves{
    position: absolute;
    margin-top: 110px; 
    margin-left: 50px;
    bottom: 20px;

}
#dashboard-image {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
#card{
    position: absolute;
    bottom: 20px;
    left: 50px;
    display: flex;
}
p{
    color: white;
    font-size: 35px;
    padding-top: 30px;
}
.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}
#letsdrop{
    font-size: 15px;
}
.dropdown-btn{
    background-color: white;
}
#dashboard1 {
    position: absolute;
    top: 0;
    right: 200px;
    display: flex;
}


.dropdown-content {
    display: none;
}

.dropdown-content.show {
    display: block;
}

.dropdown-item {
    background: none;
    border: none;
    padding: 8px 16px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.account-number {
    font-size: 15px;
    margin: 0;
    padding: 8px 16px;
}
.dropdown-item{
    color: white;
    border: 1px solid blue;
    padding: 2px;
    margin: 5px;
    width: 100px;
    display: block;
}
.budget-btn {
    display: block;
    width: 40%;
    padding: 5px;
    text-align: left;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .budget-btn:hover {
    background-color: #ddd;
  }
  .budget-list{
    font-size: 5px;
  }
  