*{
    background-color: rgb(8, 8, 105);
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.section {
    flex: 1;
    padding: 20px;
}

.vertical-line {
    width: 2px;
    background-color: black;
    margin: 0 10px;
}
h2{
    margin-top: 130px;
    color: white;
    text-decoration: underline;
    font-size: 30px;
}
h1{
    color: white;
    float: right;
    margin-top: 50px;   
}
li{
    list-style: none;
    padding: 40px;
    color: white;
    font-size: 30px;
}
.buttons{
    padding: 50px;
}
.type{
    background-color: white;
    cursor: pointer;
}

